* {
  margin: 0px;
  padding: 0px;
}

div {
  width: 200px;
  height: 200px;
  position: relative;
}

.tomato {
  background-color: tomato;
}

.steelblue {
  background-color: steelblue;
  left: 200px;
}

.yellowgreen {
  background-color: yellowgreen;
}