* {
  font-family: sans-serif;
}

.left {
  display: inline-block;
  width: 69%;
  font-size: 14px;
}

.right {
  display: inline-block;
  width: 30%;
}

.style-table {
  border: 1px solid black;
  margin: 0 auto;
}

.style-table tr:first-child {
  text-align: center;
}

.style-table th {
  text-align: left;
}